<div class="container-item flex gap-2 my-2">
    <img class="col-3" [src]="item()?.produto?.fotoProd">
    <div class="col">
        <div class="flex justify-content-between mb-2">
            <span>{{item()?.produto?.nomeProduto}}</span>
            <i class="pi pi-times text-xl cursor-pointer" (click)="removeItem(item()?.produto?.id)"></i>
        </div>
        <div class="flex justify-content-between align-items-center">
            <p-inputnumber
            [ngModel]="item()?.quantidade" 
            [showButtons]="true" 
            buttonLayout="horizontal" 
            spinnerMode="horizontal"
            decrementButtonClass="decrement-counter"
            incrementButtonClass="increment-counter"
            inputId="horizontal"
            styleClass="input-counter"
            [inputStyle]="{ width: '3rem' }">
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus"></span>
            </ng-template>
        </p-inputnumber>
        <span class="font-bold text-xl">{{item()?.produto?.precoProd| currency}}</span>
        </div>
    </div>
</div>