<div class="container-item flex align-items-center gap-2 my-2">
  <img class="col-3" [src]="item()?.produto?.fotoProd" />
  <div class="col">
    <div class="flex justify-content-between mb-2">
      <div class="flex flex-column">
        <span class="font-bold">{{ item()?.produto?.nomeProduto }}</span>
        <span class="text-sm text-gray-500 descricao-ellipsis">
          {{ item()?.produto?.descricaoProduto }}
        </span>
        <div class="flex mt-2 justify-content-between align-items-center">
          <!-- <span class="font-bold">{{ item()?.quantidade }}x</span> -->
            <p-inputnumber
            [ngModel]="item()?.quantidade" 
            [showButtons]="true" 
            buttonLayout="horizontal" 
            spinnerMode="horizontal"
            decrementButtonClass="decrement-counter"
            incrementButtonClass="increment-counter"
            inputId="horizontal"
            styleClass="input-counter"
            class="counter"
            [inputStyle]="{ width: '3rem' }"
            (ngModelChange)="updateQuantity($event, item()!)"
            [min]="1"
            >
            <ng-template #incrementbuttonicon>
                <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
                <span class="pi pi-minus" [class.disabled]="item()?.quantidade === 1"></span>
            </ng-template>
        </p-inputnumber>
        <span class="font-bold">
        {{ ((item()?.produto?.precoProd || 0) * (item()?.quantidade || 0)) | currency:'BRL' }}
        </span>

        </div>
      </div>
      <i class="pi pi-times text-2xl cursor-pointer" (click)="removeItem(item()?.produto?.id)"></i>
    </div>
  </div>
</div>
