<p-dialog 
styleClass="dialog-form"
position="bottom"
header="Dados do usuário"
[modal]="true"
[(visible)]="_visible"
(onHide)="closeDialog()"
[draggable]="false"
class="w-full"
[breakpoints]="{ '1199px': '75vw', '575px': '100vw' }"
>

<div class="mt-4 container-form flex flex-column gap-2">
    @if(type() === 'user') {
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="value1" autocomplete="off" />
            <label for="on_label">Nome</label>
        </p-floatlabel>
    
        <p-floatlabel variant="on">
            <p-inputmask id="on_label" [(ngModel)]="value2" mask="(99) 99999-9999" />
            <label for="on_label">Telefone</label>
        </p-floatlabel>
    <p-button size="small" label="Avançar" (click)="advance('address')"/>
    } @else if(type() === 'address') {
        <p-floatlabel variant="on">
            <input pInputText id="on_label" [(ngModel)]="value1" autocomplete="off" />
            <label for="on_label">Endereço</label>
        </p-floatlabel>
    
        <p-floatlabel variant="on">
            <p-inputmask id="on_label" [(ngModel)]="value2" mask="(99) 99999-9999" />
            <label for="on_label">Complemento (Opcional)</label>
        </p-floatlabel>
            <p-button size="small" label="Avançar" (click)="advance('payment')"/>
    } @else if(type() === 'payment') {
      <p-select 
        [options]="typePayment()" 
        [(ngModel)]="selectedPayment" 
        optionLabel="name" 
        placeholder="Select a City"
        class="w-full" />
    
        <p-floatlabel variant="on">
            <p-inputmask id="on_label" [(ngModel)]="value2" mask="(99) 99999-9999" />
            <label for="on_label">Telefone</label>
        </p-floatlabel>
        <p-button size="small" label="Avançar" (click)="advance('finalizar')"/>
    }

</div>


</p-dialog>