::ng-deep .dialog-form .p-button {
    background: none !important;
}

::ng-deep .dialog-form .p-dialog-header {
    background: var(--color-bg-body) !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

::ng-deep .dialog-form .p-dialog-content {
    background: var(--color-bg-body) !important;
}

::ng-deep .dialog-form .p-dialog-bottom .p-dialog {
    margin: 0 !important;
}

::ng-deep .container-form .p-floatlabel-on:has(input:focus) label {
    background: none !important;
}

::ng-deep .container-form .p-button {
    background: var(--color-pink) !important;
    width: 100%;
}