<div class="page-detail">
    <div>
        <div class="title-header mb-2">
            <span>Agridoce Delivery</span>
        </div>

        <div class="content-image my-3">
            <img [src]="detail().fotoProd">
        </div>

        <div class="content-description flex flex-column gap-2">
            <span class="font-bold text-xl">{{detail().nomeProduto | titlecase}}</span>
            <!-- <span class="text-sm">{{detail().descricaoProduto}}</span> -->

            <span class="mt-3">Descrição</span>
            <div class="border-ingrediente">
                <span>{{detail().descricaoProduto| uppercase}}</span>
            </div>
        </div>
    </div>

    <div class="content-actions">
        <div class="flex justify-content-between align-items-center">
            <span class="font-bold text-2xl">{{detail().precoProd| currency}}</span>
            <p-inputnumber
            [ngModel]="detail().quantidade" 
            [showButtons]="true" 
            buttonLayout="horizontal" 
            spinnerMode="horizontal"
            decrementButtonClass="decrement-counter"
            incrementButtonClass="increment-counter"
            inputId="horizontal"
            styleClass="input-counter"
            [inputStyle]="{ width: '3rem' }"
            (ngModelChange)="updateQuantity($event, detail())"
             [min]="0"
            >
                <ng-template #incrementbuttonicon>
                    <span class="pi pi-plus"></span>
                </ng-template>
                <ng-template #decrementbuttonicon>
                    <span class="pi pi-minus" [class.disabled]="detail().quantidade === 0"></span>
                </ng-template>
            </p-inputnumber>
        </div>
        <div class="btn-actions flex flex-column gap-2 mt-3">
            <p-button
            size="small"
            label="Continuar comprando"
            (click)="goToMenu()"/>

            <p-button
            size="small"
            label="Ir para o carrinho"
            (click)="goToCart(detail()!)"
            />
        </div>
    </div>
</div>