.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-content {
    background: var(--color-light-gray);
    width: 140px;
    height: 84px;
    border-radius: 20px;
    // box-shadow: 0px -1px 20px var(--color-card);
    position: absolute;
    z-index: 2;
    transform: translateY(-70px);
    object-fit: cover;
}

.descricao-content {
    background: white;
    width: 170px;
    height: 130px;
    border-radius: 20px;
    box-shadow: 0px -1px 20px var(--color-card);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

::ng-deep .card-container .p-button {
    box-shadow: 0px -1px 20px #cfa8b0;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

::ng-deep .card-container .p-button:active {
    animation: pulse-animation 0.3s ease;
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}