<div class="card-container">
  <div class="descricao-content">
    @if(card()?.fotoProd) {
      <img class="image-content" [src]="card()?.fotoProd">
    } @else {
      <div class="image-content"></div>
    }

    <div class="mt-4 w-full px-3">
        <span class="font-bold">{{card()?.nomeProduto}}</span>
        <div class="flex justify-content-between align-items-center mt-2">
            <span class="font-bold">{{card()?.precoProd| currency}}</span>
            <p-button
            [rounded]="true"
            icon="pi pi-plus"
            (click)="addItem(card()!); $event.stopPropagation()"
            />
        </div>
    </div>
  </div>
</div>
