<div class="card-container">
  <div class="descricao-content">
    @if(card()?.image) {
      <img class="image-content" [src]="card()?.image">
    } @else {
      <div class="image-content"></div>
    }

    <div class="mt-4">
        <span class="font-bold">{{card()?.nome}}</span>
        <div class="flex justify-content-between align-items-center mt-2">
            <span class="font-bold">R$ {{card()?.valor}}</span>
            <p-button
            [rounded]="true"
            severity="warn"
            icon="pi pi-plus"/>
        </div>
    </div>
  </div>
</div>
