.image-content {
    background: var(--color-light-gray);
    width: 90%;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0px -1px 20px #dec8cd;
    object-fit: cover;
}

.card-container {
    background: var(--color-bg-blue);
    width: 170px;
    height: 170px;
    border-radius: 20px;
    box-shadow: 0px -1px 20px var(--color-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.ellipsis {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


::ng-deep .card-container .p-button {
    box-shadow: 0px -1px 20px #cfa8b0;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

::ng-deep .card-container .p-button:active {
    animation: pulse-animation 0.3s ease;
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.6);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}