<div class="page-container">

  <div class="header">
    <div class="flex justify-content-between">
      @if(isMobile()) {
        <div class="flex gap-2 align-items-center">
          <img class='image-logo' src="assets/logo/logo-agridoce.svg">
          <div class="flex flex-column line-height-2">
            <span class="title">Agridoce</span>
            <span class="text-sm">Delivery</span>
          </div>
        </div>
      }

      @if(!isMobile()) {
      <p-iconfield class="col-5">
        <p-inputicon styleClass="pi pi-search" />
        <input styleClass="input-custom" type="text" pInputText placeholder="Buscar..." (input)="onSearch($event)" />
      </p-iconfield>
      }
    </div>

    @if(images()?.length) {
      <app-carousel class="p-4 pt-0 cursor-pointer" [images]="images()" />
    }

    @if(isMobile()) {
      <p-iconfield class="my-2 mb-4">
        <p-inputicon styleClass="pi pi-search" />
        <input styleClass="input-custom" type="text" pInputText placeholder="Buscar..." (input)="onSearch($event)" />
      </p-iconfield>
    }

    <div class="content-category">
      <div class=" item-category flex my-2 gap-3 justify-content-between">
        @for(item of categories(); track $index) {
        <div class="cursor-pointer" [class]="item.outlined ? 'btn-category' : 'btn-category-selected'"
          (click)="toogle(item.nome)">
          <mat-icon class="outlined-mat-icon">{{item.icon}}</mat-icon>
          <span>{{item.nome}}</span>
        </div>
        }
      </div>
    </div>
  </div>

  @if(filteredProdutos().length) {
  <div class="content-cards" [class.margin-card]="isMobile()">
    <div class="grid container-items m-0">
      @for(item of filteredProdutos(); track $index) {
      <app-card class="flex flex-wrap column-gap-6 row-gap-12 justify-content-center cursor-pointer" [card]="item"
        (click)="showDetail(item)"></app-card>
      }
    </div>
  </div>
  } @else {
  <div class="search-icon flex flex-column justify-content-center align-items-center m-4">
    <mat-icon class="outlined-mat-icon">search_off</mat-icon>
    <span class="">Produto indisponível ou não encontrado.</span>
  </div>
  }
</div>