.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-shrink: 0;
  padding: 1rem;
}

.app-menu {
  flex-shrink: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.title-header {
  font-family: "Qwigley", cursive;
  font-weight: 400;
  font-size: 30px;
  color: #390202;
}

// .container-items {
//   min-height: 300px;
//   overflow-y: auto;
//   padding-right: 0.5rem;
// }

.content-cards {
  // flex: 1;
  overflow-y: auto;
  margin-bottom: 70px;
  // padding: 0.5rem;
}