<div class="page-container">
  
  <div class="header">
    <div class="title-header mb-2">
      <span>Agridoce Delivery</span>
    </div>

    <p-iconfield class="my-2">
      <p-inputicon styleClass="pi pi-search" />
      <input styleClass="input-custom" type="text" pInputText placeholder="Buscar..." />
    </p-iconfield>

    <div class="content-category mt-4">
      <span class="text-xl">Categorias</span>
      <div class=" item-category flex my-2 gap-3 justify-content-between">
        @for(item of categories(); track $index) {
          <div 
          [class]="item.outlined ? 'btn-category-selected' : 'btn-category'"
          (click)="toogle(item.nome)">
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.nome}}</span>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="content-cards">
    <div class="grid container-items m-0">
      @for(item of produtos(); track $index) {
        <app-card class="col-6 mt-7" [card]="item" (click)="showDetail(item)"></app-card>
      }
    </div>
  </div>
</div>
