.page-profile {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.page-profile .image-profile {
    width: 180px;
    height: 180px;
    background: var(--color-light-gray);
    border-radius: 50%;
    position: relative;
}

.mat-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 3;
    left: 33px;
    top: 33px;
}

.material-icons {
    font-size: 114px;
    color: var(--color-bg-body)
}