.page-profile {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.page-profile .image-profile {
    width: 180px;
    height: 180px;
    background: var(--color-light-gray);
    border-radius: 50%;
    position: relative;
}

.mat-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 3;
    left: 33px;
    top: 33px;
}

.material-icons {
    font-size: 114px;
    color: var(--color-bg-body)
}

.image-logo {
    width: 50px;
    height: 50px;
    filter: brightness(0%);
}

.title {
    font-family: "Cherry Bomb One", system-ui;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}