<div class="side-nav">
    <div class="flex gap-2 align-items-center my-2 px-4">
        <img class='image-logo' src="assets/logo/logo-agridoce.svg">
        <div class="flex flex-column line-height-2">
            <span class="title">Agridoce</span>
            <span class="text-sm">Delivery</span>
        </div>
    </div>

    <ul class="p-0 px-3">
        @for (item of menuItems(); track item; let i = $index) {
        <li [class.active]="i === activeIndex()" (click)="setActive(i)" class="my-3">
            <a [routerLink]="item.route">
                <div class="flex gap-2 icon align-items-center">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span class="text">{{ item.label }}</span>
                    @if(item.route === '/cart' && totalItens() > 0) {
                    <p-badge class="bagde-icon" [value]="totalItens()" severity="info" />
                    }
                </div>
            </a>
        </li>

        <!-- TODO: implementar menut child -->
        <!-- @for (child of item.children; track child; let idChild = $index) {
        <li [class.active]="idChild === activeChildIndex()" (click)="setActiveChild(idChild)" class="my-3">
            <a [routerLink]="child.route">
                <div class="flex gap-2 icon align-items-center">
                    <mat-icon>{{ child.icon }}</mat-icon>
                    <span class="text">{{ child.label }}</span>
                </div>
            </a>
        </li>
        } -->
        }
    </ul>
</div>