<div class="side-nav">
    <p-menu [model]="menuItems()" styleClass="w-full side-menu">
        <ng-template #start>
            <div class="flex gap-2 align-items-center my-2 px-4">
                <img class='image-logo' src="assets/logo/logo-agridoce.svg">
                <div class="flex flex-column line-height-2">
                    <span class="title">Agridoce</span>
                    <span class="text-sm">Delivery</span>
                </div>
            </div>
        </ng-template>

        <ng-template #submenuheader let-item>
            <span class="text-primary font-bold px-4">{{ item.label }}</span>
        </ng-template>

        <ng-template #item let-item>
            <a pRipple class="flex items-center p-menu-item-link px-4 py-2 icon" [routerLink]="item.route">
                <mat-icon>{{item.icon}}</mat-icon>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
<!-- 

<ng-template #end>
    <button pRipple
        class="relative overflow-hidden w-full border-0 bg-transparent flex flex-column items-start p-4 hover:bg-surface-100 rounded-none cursor-pointer transition-colors duration-200">
            <span class="font-bold">Desenvolvido pelos</span>
            <span class="text-sm">Sobreviventes</span>
    </button>
</ng-template>
-->
</p-menu>
</div>