.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background: var(--color-pink);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    z-index: 100;
}

.side-menu {
    background: transparent !important;
    border: none !important;
    width: 100%;
}

:host ::ng-deep .p-menu {
    width: 100% !important;
    background: none !important;
    border: none !important;
}

/* ------------------------- */
/* 🔥 ESTILO DO ITEM NORMAL  */
/* ------------------------- */
:host ::ng-deep .p-menuitem-link {
    border-radius: 8px;
    transition: 0.25s;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Hover */
:host ::ng-deep .p-menuitem-link:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* ------------------------- */
/* ⭐ ESTILO DO ITEM ATIVO   */
/* ------------------------- */
:host ::ng-deep .p-menuitem-link.active {
    background: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    transform: translateX(4px);
}

/* Ícone dentro do item ativo */
:host ::ng-deep .p-menuitem-link.active .mat-icon {
    color: var(--primary-color) !important;
    filter: brightness(0.2);
}

/* Texto do item ativo */
:host ::ng-deep .p-menuitem-link.active span {
    color: #000;
}

/* ------------------------- */
/* LOGO                      */
/* ------------------------- */
.logo-area {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.image-logo {
    width: 40px;
    height: 40px;
    filter: brightness(0%);
}

.title {
    font-family: "Cherry Bomb One", system-ui;
}

/* ------------------------- */
/* ÍCONES Material           */
/* ------------------------- */
::ng-deep .icon {
    .mat-icon {
        width: 30px;
        height: 30px;
        font-size: 25px;
        color: #000;
        transition: 0.2s;
    }
}

/* Badge do carrinho */
:host ::ng-deep .p-badge {
    font-size: 12px;
    background: var(--primary-color);
    color: white;
}

ul,
li {
    list-style: none;
}
.text, a {
    text-decoration: none;
    color: #000;
}

li.active {
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}