<div class="page-login">
  @if(type() === '') {
    <p-button class="btn-voltar" rounded icon="pi pi-arrow-left" (click)="goToMenu()"/>
  }
  <div class="image-logo">
    <img class='' src="assets/logo/logo-agridoce.svg">
    <div class="font flex flex-column line-height-1">
      <span class="text1">Agridoce</span>
      <span class="text2">Delivery</span>
    </div>
  </div>
  <img src="../../../assets/splash/bolo-red-velvet.jpg" />


  @if(type() === 'login') {
  <div class="form-login-content p-4 flex flex-column justify-content-around">
    <div class="flex gap-2">
      <p-button icon="pi pi-arrow-left" rounded (click)="showForm('')" />
      <span class="text-4xl font-bold">Login</span>
    </div>
    <app-form-login />
  </div>
  }

  @if(type() === 'register') {
  <div class="form-register-content p-4 flex flex-column justify-content-around">
     <div class="flex gap-2">
      <p-button icon="pi pi-arrow-left" rounded (click)="showForm('')" />
      <span class="text-4xl font-bold">Register</span>
    </div>
    <app-form-register (backToLogin)="backToLogin($event)" />
  </div>
  }
  @if(type() === '') {
  <div class="container-actions">
    <div class="flex flex-column mb-4">
      <span class="font-bold text-4xl">Boas Vindas!</span>
      <span class="text-xl">Acesse sua conta</span>
    </div>
    <div class="buttons">
      <p-button label="Criar conta" (click)="showForm('register')" />
      <p-button label="Entrar" (click)="showForm('login')" />
    </div>
  </div>
  }
</div>