<!-- <div class="page-login">
    <div class="container">
        <span class="font-agridoce">Agridoce Delivery</span>
      
        <div class="images-food">
          <div class="image-bolo">
            <img src="assets/splash/bolo-caramelado.png" alt="Bolo" />
          </div>
          <div class="image-salgado">
            <img src="assets/splash/rolinho-salsicha.png" alt="Salgado"/>
          </div>
        </div>
    </div>
    <div class="form-login-content">
        <span class="font-bold text-2xl"></span>
    </div>
</div> -->


<div class="page-login">
  <div class="text-logo">
    <span>Agridoce Delivery</span>
  </div>
  <img src="../../../assets/splash/bolo-red-velvet.jpg" />


  @if(visibleLogin()) {
  <div class="form-login">
    <span>login</span>
  </div>
  } @else if(visibleRegister()) {
  <div class="form-register">
    <span>register</span>
  </div>
  } @else {
  <div class="container-actions">
    <div class="flex flex-column mb-4">
      <span class="font-bold text-4xl">Boas Vindas!</span>
      <span class="text-xl">Acesse sua conta</span>
    </div>
    <div class="buttons">
      <p-button label="Criar conta" (click)="showForm('register')" />
      <p-button label="Entrar" (click)="showForm('login')" />
    </div>
  </div>
  }
</div>