<div class="navigation">
    <ul>
        @for (item of menuItems(); track item; let i = $index) {
        <li [class.active]="i === activeIndex()" (click)="setActive(i)">
            <a [routerLink]="item.route">
                <div class="relative">
                    <div class="icon relative">
                        <mat-icon>{{ item.icon }}</mat-icon>
                    </div>

                    @if(item.route === '/cart' && totalItens() > 0) {
                    <p-badge class="bagde-icon" [value]="totalItens()" severity="info" />
                    }
                </div>
                <span class="text">{{ item.label }}</span>
                <span class="circle"></span>
            </a>
        </li>
        }
        <div class="indicator" [ngStyle]="{'transform': 'translateX(' + (125 * activeIndex()) + 'px)'}"></div>
    </ul>
</div>