<div class="menu-bar">
    <div class="curve" [ngStyle]="{'left': (activeIndex() * 110 + 190) + 'px'}"></div>
    <div class="curve-left"></div>
    <div class="curve-right"></div>
    <div class=""></div>
    <ul>
        @for(item of menuItems(); track item; let i = $index) {
        <li 
        [class.active]="i === activeIndex()"
        [routerLink]="item.route" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}"
        (click)="setActive(i)">
            <span class="material-icons icon">{{item.icon}}</span>
        </li>
        }
    </ul>
</div>