<div class="navigation">
    <ul>
        @for (item of menuItems(); track item; let i = $index) {
        <li [class.active]="i === activeIndex()" (click)="setActive(i)">
            <a [routerLink]="item.route">
                <span class="icon">
                    <mat-icon>{{ item.icon }}</mat-icon>
                </span>
                <span class="text">{{ item.label }}</span>
                <span class="circle"></span>
            </a>
        </li>
        }
        <div class="indicator" [ngStyle]="{'transform': 'translateX(' + (70 * activeIndex()) + 'px)'}"></div>
    </ul>
</div>