.navigation {
    position: relative;
    width: 100%;
    height: 70px;
    background: var(--color-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 6px solid white;
}

.navigation ul {
    display: flex;
    width: 400px;
    gap: 56px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #000;
    transition: .5s;
    text-decoration: none;
    font-family: 'Material Icons Outlined' !important;
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: #000;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    // border: 1.8px solid #fff;
    transform: translateY(-37px) scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}

.indicator {
    position: absolute;
    top: -56%;
    width: 70px;
    height: 70px;
    background: var(--color-pink);
    border: 6px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -60px;
    width: 100%;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 #fff;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -60px;
    width: 100%;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 #fff;
}

// .line {
//     position: absolute;
//     top: 0;
//     // left: -22px;
//     width: 100%;
//     height: 20px;
//     background: transparent;
//     border-top-right-radius: 20px;
//     box-shadow: 1px -10px 0 #fff;
// }

mat-icon {
    position: relative;
}



.outlined-mat-icon {
    font-family: 'Material Icons Outlined' !important;
}

::ng-deep .icon {
    .mat-icon {
        width: 50px;
        height: 50px;
    }

    .material-icons {
        font-size: 30px;
        color: #000;
    }

    .bagde-icon {
        position: absolute;
        top: 12%;
        left: 58%;
        z-index: 1;
    }
}