<div [formGroup]="formLogin" class="flex flex-column gap-3">
    <div class="flex flex-column gap-2">
        <p-floatlabel variant="on">
            <input pInputText id="login_input" formControlName="email" autocomplete="off" />
            <label for="login_input">Usuário</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <p-password id="senha_input" [feedback]="false" [toggleMask]="true" [fluid]="true" formControlName="senha" autocomplete="off" />
            <label for="senha_input">Senha</label>
        </p-floatlabel>
    </div>
    <p-button class="flex justify-content-center" label="Entrar" (click)="signin()" />
</div>