<div [formGroup]="formLogin" class="flex flex-column gap-3">
    <div class="flex flex-column gap-2">
        <p-floatlabel variant="on">
            <input pInputText id="on_label" formControlName="login" autocomplete="off" />
            <label for="on_label">Usuário</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
            <p-password id="on_label" [feedback]="false" [toggleMask]="true" [fluid]="true" formControlName="senha" autocomplete="off" />
            <label for="on_label">Senha</label>
        </p-floatlabel>
    </div>
    <p-button class="flex justify-content-center" label="Criar" (click)="signin()" />
</div>