.page-cart {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-vazio {
    height: 50vh;
}

.content-vazio .mat-icon {
    -webkit-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 75px;
    width: 75px;
    overflow: hidden;
}

.content-vazio .material-icons {
    font-size: 75px;
}

.image-logo {
    width: 50px;
    height: 50px;
    filter: brightness(0%);
}

.title {
    font-family: "Cherry Bomb One", system-ui;
}

.cart-items {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items-height {
    height: calc(100vh - 187px);
}