<div class="page-cart">
    <div class="flex justify-content-between mb-2">
        <span class="title-header">Agridoce Delivery</span>
        @if(cartItems().length && isLogged() === 'true') {
            <p-button size="small" label="Avançar" (click)="showModal()"/>
        }
    </div>

    <div class="mb-6">
        @if(cartItems().length) {
            <span class="font-bold text-xl my-2">Acompanhar pedido</span>
            @for(item of cartItems(); track $index) {
                <app-item [item]="item"/>
            }
        } @else {
            <div class="content-vazio flex flex-column justify-content-center align-items-center gap-2">
                <mat-icon>production_quantity_limits</mat-icon>
                <span>Não há itens no carrinho</span>
            </div>
        }
    </div>

    <!-- <div>
        <span class="font-bold text-xl my-2">Últimos pedidos</span>
        <app-item [item]="cart()"/>
    </div> -->
    <app-dialog-form
    [cart]="cartItems()"
    [visible]="visible()"
    (visibleChange)="closeDialog()"/>
</div>