@use 'variables.scss';

body {
    margin: 0;
    font-family: "Sen", Roboto, "Helvetica Neue", sans-serif;
    background: var(--color-bg-body);
}

// inputs
.p-inputtext {
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 1rem;
    color: var(--color-text-input) !important;
    background: var(--color-bg-input) !important;
    padding-block: var(--p-inputtext-padding-y);
    padding-inline: var(--p-inputtext-padding-x);
    border: none !important;
    transition: background var(--p-inputtext-transition-duration), color var(--p-inputtext-transition-duration), border-color var(--p-inputtext-transition-duration), outline-color var(--p-inputtext-transition-duration), box-shadow var(--p-inputtext-transition-duration);
    appearance: none;
    border-radius: 15px !important;
    outline-color: transparent;
    box-shadow: none !important;
    width: 100%;
    height: 50px;
}

.p-floatlabel-on:has(input:focus) label {
    background: none !important;
}

.p-inputicon {
    color: var(--color-text-input) !important;
}

// button 
.p-button {
    background: var(--color-pink) !important;
    border: none !important;
    // border-radius: 15px !important;
    padding: 10px 15px !important;
}

.p-button-outlined {
    background: transparent !important;
    border: 1px solid var(--color-gray) !important;
    color: var(--color-gray) !important;
}

.p-button-warn {
    background: var(--color-warning) !important;
    border: none !important;
    color: white !important;
}

// title 
.title-header {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #390202;
}

// select 
.p-select {
    border: none !important;
    background: var(--color-bg-input) !important;
    padding-block: var(--p-inputtext-padding-y);
    color: var(--color-text-input)
}

.input-counter .p-inputtext {
    // border: 1px solid white !important;
    background: none !important;
    width: 40px !important;
    height: 40px !important;
}

.p-inputnumber-horizontal .p-inputnumber-input {
    order: 2;
    border-radius: 0;
    background: none !important;
    border: none !important;
}

.p-inputnumber {
    display: inline-flex;
    position: relative;
    align-items: center;
}

.input-counter .p-inputnumber-button:hover {
    background: none !important;
    color: var(--p-inputnumber-button-hover-color);
}

.decrement-counter .p-inputnumber-button {
    border: 1px solid white !important;
}

.p-inputnumber-horizontal .p-inputnumber-button {
    border: 1px solid white !important;
}

.p-inputnumber-horizontal .p-inputnumber-decrement-button {
    order: 1;
    border-radius: 50% !important;
    border-inline-end: 0 none;
    width: 40px;
    height: 40px;
    color: var(--color-text-input);
}

.p-inputnumber-horizontal .p-inputnumber-increment-button {
    order: 1;
    border-radius: 50% !important;
    border-inline-end: 0 none;
    width: 40px;
    height: 40px;
    color: var(--color-text-input);
}

.increment-counter .p-inputnumber-button {
    border: 1px solid var(--color-pink) !important;
}

// options do select 
.p-select-option.p-select-option-selected.p-focus {
    background: var(--color-bg-content) !important;
    color: #000 !important;
}

// badge
.p-badge {
    display: inline-flex;
    border-radius: var(--p-badge-border-radius);
    justify-content: center;
    padding: var(--p-badge-padding);
    background: var(--color-primary) !important;
    color: var(--p-badge-primary-color);
    font-size: var(--p-badge-font-size);
    font-weight: var(--p-badge-font-weight);
    min-width: var(--p-badge-min-width);
    height: var(--p-badge-height);
    line-height: var(--p-badge-height);
}