@use 'variables.scss';

body {
    margin: 0;
    font-family: "Sen", Roboto, "Helvetica Neue", sans-serif;
}

// inputs
.p-inputtext {
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 1rem;
    color: var(--p-inputtext-color);
    background: var(--color-light-gray) !important;
    padding-block: var(--p-inputtext-padding-y);
    padding-inline: var(--p-inputtext-padding-x);
    border: none !important;
    transition: background var(--p-inputtext-transition-duration), color var(--p-inputtext-transition-duration), border-color var(--p-inputtext-transition-duration), outline-color var(--p-inputtext-transition-duration), box-shadow var(--p-inputtext-transition-duration);
    appearance: none;
    border-radius: 10px !important;
    outline-color: transparent;
    box-shadow: var(--p-inputtext-shadow);
    width: 100%;
    height: 50px;
}

// button 
.p-button {
    background: var(--color-pink) !important;
    border: none !important;
    border-radius: 15px !important;
    padding: 10px 15px !important;
}

.p-button-outlined {
    background: transparent !important;
    border: 1px solid var(--color-gray) !important;
    color: var(--color-gray) !important;
}

.p-button-warn {
    background: var(--color-warning) !important;
    border: none !important;
    color: white !important;
}

// title 
.title-header {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-size: 30px;
    color: #390202;
}

// select 
.p-select {
    border: 1px solid var(--color-gray) !important;
    background: none !important;
    padding-block: var(--p-inputtext-padding-y);
}