:root {
    --color-primary: #1558FF;
    --color-primary-hover: #002C98;
    --color-primary-disabled: #89ABFF;
    --color-primary-outlined-hover: #F3F6FF;
    --color-secondary: #ECF2FF;
    --color-secondary-hover: #DDE4F3;
    --color-secondary-disabled: #D7DBE2;
    --color-secondary-outlined-hover: #F4F4F4;
    --color-light: #FFFFFF;
    --color-danger: #EF4444;
    --color-danger-hover: #E54242;
    --color-danger-disabled: #E26F6F;
    --color-danger-outlined-hover: #FEF5F5;
    --color-warning: #F97316;
    --color-warning-hover: #EA580C;
    --color-warning-disabled: #FBAB73;
    --color-warning-outlined-hover: #FFFAF2;
    --color-gray: #555E75;
    --color-gray-disabled: #9198AA;
    --color-success: #00BC1E;
    --color-success-hover: #00AA19;
    --color-success-disabled: #7FDD8E;
    --color-success-outlined-hover: #F2FCF4;
    --color-cancel: #B60000;
    --color-cancel-hover: #A30000;
    --color-cancel-disabled: #DA7F7F;
    --color-cancel-outlined-hover: #FBF2F2;
    --color-caution: #B2BF1C;
    --color-caution-hover: #A8B21A;
    --color-caution-disabled: #D8DF8D;
    --color-caution-outlined-hover: #FBFCF3;
    --color-light-gray: #EAEDF3;
    --color-soft-gray: #7D7D7D;
    --color-black: #000000;
    --color-bg-item: #F2F6FF;
    --color-placeholder: #969696;
    --color-label: #6D7888;
    --color-menu-blue: #1458FF;
    --bg-light: #FFFFFF;
    --bg-light-gray: #EAEDF3;
    --bg-card-inner: #E6E6E6;
    --bg-card-inner-dark: #D4DAE4;
    --bg-expanse-card: #F4F4F4;
    --bg-gray: #D9DEE7;
    --bg-ice: #F5F6F9;
    --bg-status-todo: #D6B33D;
    --bg-status-doing: #4FC061;
    --bg-status-blocked: #FF504F;
    --bg-status-toapprove: #846BF0;
    --bg-status-done: #1458FF;

    --color-pink: #FFC1D9;
    --color-bg-body: #F1F1F1;
    --color-card: #E4E4E4;
    --color-bg-card: #DBE1E8;
    --color-bg-counter: #390202;
    --color-bg-button-counter: #5f2828;
    --color-bg-input: #FFC1D9;
    --color-bg-category: #FFD2DA;
    --color-text-input: #202020;

    --color-bg-content: #FFD2DA;
    --color-bg-blue: #DBE1E8;

    --color-category-selected: #c3c3c3;
    --color-category: #E4E4E4;
}